 @import url(https://fonts.googleapis.com/css?family=Slabo+27px)
 
.nav li {
  display: inline;
}





.nav a {
    color: #5a5a5a;
    font-size: 24px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
 }
    
.jumbotron {
    
 background-image: url('https://goo.gl/04j7Nn');
 height: 500px;
 color: #fff;
 font-size: 20px;
 font-weight: bold;
}

.jumbotron h1 {
 font-family: 'shift', sans-serif;
;
}



.learn-more {
 background-color: #f7f7f7;   
}


.learn-more h3 {
font-family: 'Shift', sans-serif;
font-size: 18px;
font-weight: bold;
}

.learn-more a {
	color: blue;
}






